view/__pycache__/mainview.cpython-312.pyc
view/__pycache__/graphicview.cpython-312.pyc
utils/__pycache__/helpfunctions.cpython-312.pyc
.gitignore
model/__pycache__/tickerwrapper.cpython-312.pyc
model/__pycache__/model.cpython-312.pyc
controller/__pycache__/controller.cpython-312.pyc
__pycache__/tickerwrapper.cpython-312.pyc
view/__pycache__/graphicview.cpython-312.pyc
view/__pycache__/mainview.cpython-312.pyc
controller/__pycache__/controller.cpython-312.pyc
